{% set client = salt['grains.filter_by']( {
  'Debian': {
    'package': 'nfs-common',
    'service': 'rpcbind',
  },
  'RedHat': {
    'package': 'nfs-utils',
    'service': 'rpcbind',
  },
}, merge=salt['pillar.get']('nfs:lookup:client')) %}

{% set nfs = {
  'client': client,
} %}
